{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
<title>Login</title>
</head>
<body>
<main>
<div class="content">
<div class="left">
<img src="{% static 'accounts/img/Login.svg' %}" alt="">
</div>
<div class="right">
<form method="post">
{% csrf_token %}

<div class="fields margin">
   {% if messages %}
        <ul class="error-list">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
<label>Username or E-mail</label>
<input type="text" name="username" placeholder="Enter your username or e-mail" value="{{ request.POST.username }}">

<label>Password</label>
<input type="password" name="password" placeholder="Enter password">
</div>

<div class="login">
<div class="spaceb">
  <p><a href="{% url 'register' %}">Don't yet have an account?</a></p>
<p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
</div>
<p class="log"><button type="submit">Login</button></p>

</div>

</form>
</div>
</div>
</main>
</body>
</html>
{% endblock %}
