*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    /* position: fixed; */
    width: 100%;
    background-color: #363055;
    height: 100px;
    padding-top: 2px;
}

 nav, ul{
    height: 90%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 40px;
    /* border: 2px solid #000; */
}
nav .logo{
    width: 200px;
}
img{
    width: 100%;
    border-radius: 2px;
}
ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}